{% extends 'imagersite/layout.html' %}
{% load thumbnail %}

{% block title %}Albumview{% endblock %}

{% block content %}
    {% thumbnail album.cover.image "300x300" as im %}
    <img src = "{{im.url}}"></img>
    {% endthumbnail %}
    <h1>{{album.title}}</h1>
    <p>{{album.description}}</p>
    <p>{{album.date_created}}</p>
    <p>{{album.date_modified}}</p>
    <p>{{album.date_published}}</p>
    <p>Tags:</p>
    {% for tag in photo.tags.all %}
        <p>{{tag}}</p>
    {% endfor %}


    <p>---------------------------------------</p>
    <h1>Photos in this album</h1>
    {% for photo in album.photo.all %}
    <p>{{photo.title}}</p>
    {% thumbnail photo.image "200x200" as im %}
    <img src = "{{im.url}}"></img>
    <p>Tags:</p>
        {% for tag in photo.tags.all %}
            <p>{{tag}}</p>
        {% endfor %}
    {% endthumbnail %}
    {% endfor %}
    <a href="/images/albums/update/{{album.id}}"><button type="button" class="btn">Update Album</button></a>
{% endblock %}