<!DOCTYPE html>
<html>
<head>
    <title>Home page</title>
</head>
<body>
    <h1 style='color: red'>Welcome to this website</h1>
    <h2>Please gIve us yro're infooz</h2>
    <h2>honestly we will straight up murder you if you do</h2>
    <h2>For the low low fee of 19.99kr/month</h2>
    <button type="button" class="btn"><a href="/login">logout</a></button>
    <button type="button" class="btn"><a href="/logout">login</a></button>
    <button type="button" class="btn"><a href="/accounts/register">sell your soul</a></button>
    <ul>
    </ul>
      {% block content %}{% endblock %}
</body>
</html>