{% extends 'imagersite/layout.html' %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Django imager site
                <small>Created for CodeFellows Python 401 by Sean Beseler and Erik Enderlein</small>
            </h1>
        </div>
    </div>
    {% if user.is_authenticated %}
    <button type="button" class="btn"><a href="/accounts/profile">Account</a></button>
    <button type="button" class="btn"><a href="/logout">Logout</a></button>
    {% else %}
    <button type="button" class="btn"><a href="/login">Login</a></button>
    <button type="button" class="btn"><a href="/accounts/register">Create an account</a></button>
    {% endif %}
    <button type="button" class="btn"><a href="/library">Library</a></button>
    <ul>
    <button type="button" class="btn"><a href="/images/albums">Albums</a></button>
    <button type="button" class="btn"><a href="/images/photos">Photos</a></button>
    </ul>

{% endblock %}
