{% extends 'imagersite/layout.html' %}
{% load thumbnail %}

{% block title %}Library{% endblock %}

{% block content %}


    <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{user.username}}
                    <small>Library</small>
                </h1>
            </div>
        </div>

<h1>Albums</h1>

    {% for album in albums %}
        <div class="col-md-6 portfolio-item">
            {% thumbnail album.cover "200x200" as im %}
                    <img src="{{im.url}}" alt="">
            {% endthumbnail %}
                <h3>
                    <a href="/images/albums/{{album.id}}">{{album.title}}</a>
                </h3>
                <p>{{album.description}}</p>
            </div>
    {% endfor %}

<h1>Images</h1>



    {% for photo in photos %}

        <div class="col-md-6 portfolio-item">
            {% thumbnail photo.image "200x200" as im %}
                    <img src="{{im.url}}" alt="">
            {% endthumbnail %}
                <h3>
                    <a href="/images/photos/{{photo.id}}">{{photo.title}}</a>
                </h3>
                <p>{{photo.description}}</p>
        </div>
    {% endfor %}
{% endblock %}

