{% extends 'imagersite/layout.html' %}
{% load thumbnail %}
{% block title %}Other profile{% endblock %}

{% block content %}

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{user.user}}
                    <small>Profile</small>
                </h1>
            </div>
        </div>
<ul>    



    <li>Number of public photos: {{user.user.uphotos.count}}</li>
    <li>Number of public albums: {{user.user.ualbums.count}}</li>
    <li>Camera: {{user.user.profile.camera_type}}</li>
    <li>Photo_style: {{user.user.profile.photo_style}}</li>
    <li>Royalty Fees: {{user.user.profile.royalty_fees}}</li>
    <li>Email: {{user.profile.email}}</li>
</ul>

{% endblock %}