{% extends 'imagersite/layout.html' %}

{% block title %}Other profile{% endblock %}

{% block content %}

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{user}}
                    <small>Profile</small>
                </h1>
            </div>
        </div>
<ul>    
    <li>Number of public photos: {{photo_num}}</li>
    <li>Number of public albums: {{album_num}}</li>
    <li>Camera: {{user.profile.camera_type}}</li>
    <li>Photo_style: {{user.profile.photo_style}}</li>
    <li>Royalty Fees: {{user.profile.royalty_fees}}</li>
    <li>Number of public albums: {{album_num_pub}}</li>
    <li>Email: {{user.profile.email}}</li>
</ul>

{% endblock %}