{% extends 'imagersite/layout.html' %}
{% load thumbnail %}

{% block title %}Photos{% endblock %}

{% block content %}
    <h1>photos gallery</h1>
    {% for photo in photos %}
    <a href="/images/photos/{{photo.id}}"><h1>{{photo.title}}</h1></a>
    {% thumbnail photo.image "200x200" as im %}
    <img src = "{{im.url}}"></img>
    {% endthumbnail %}
    {% endfor %}
    <div class="pagination">
    <span class="step-links">
        {% if photos.has_previous %}
            <a href="?page={{ photos.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ photos.number }} of {{ photos.paginator.num_pages }}.
        </span>

        {% if photos.has_next %}
            <a href="?page={{ photos.next_page_number }}">next</a>
        {% endif %}
    </span>
    </div>
{% endblock %}

<!-- Some code taken from django docs https://docs.djangoproject.com/en/1.10/topics/pagination/-->