{% extends 'imagersite/layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{user.username}}
                    <small>Account page</small>
                </h1>
            </div>
        </div>

<img src="
      {% if profile_pic %}
          {{ profile_pic.url }}
      {% else %}
          {% static 'default_prof.jpg' %}
      {% endif %}"></img>
<h5>{{ user.username }}</h5>
<p>{{user.profile.self_description}}</p>

<ul>
    <li>Number of photos: {{photo_num}}</li>
    <li>Number of albums: {{album_num}}</li>
    <li>Number of public photos: {{photo_num_pub}}</li>
    <li>Number of public albums: {{album_num_pub}}</li>
    <li>Photos uploaded within last week: {{recent}}</li>
</ul>

<h3>Camera: {{user.profile.camera_type}}</h3>
<h3>Photo_style: {{user.profile.photo_style}}</h3>
<h3>Royalty Fees: {{user.profile.royalty_fees}}</h3>


<button type="button" class="btn"><a href="/library">View Library</a></button>
<button type="button" class="btn"><a href="/logout">Logout</a></button>
{% endblock %}